<%- include('partials/header') %>

    <h1 class="text-center my-4">Duitflow</h1>

    <div class="container">
        <p>Fluxo continuo de execucao: organize menos, conclua mais.</p>
        <a href="/tasks" class="btn btn-primary">Abrir painel</a>
    </div>

<%- include('partials/footer') %>